
* {
  margin: 0;
  padding: 0;
}
body {
  background: #E5E5E5;
}
header, main, footer {
  background: #FFFFFF;
  width: 1440px;
}
a:hover {
  color: green;
}
li a:hover {
  color: green;
}
.first-nav li {
  list-style-type: none;
}
.first-nav a{
  color: #AE7C78;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
h1 {
  margin: 0;
  font-family: "Playfair Display", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 59px;
  color: #AE7C78;
}
h1>span {
  font-style: italic;
}
.main p {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #AE7C78;
}
.advantages {
  color: #AE7C78;
}
.advantages h4 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.advantages p {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.popular h2 {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #AE7C78;
}
.popular h3 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #AE7C78;
}
.popular p {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #AE7C78;
}
.popular .price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.catalog {
  color: #FFFFFF;
}
.catalog .color {
  background: rgba(174, 124, 120, 0.6);
  width: 347px;
  height: 442px;
  border-radius: 10px;
}
.catalog>div:nth-of-type(1) {
  background: url("../img/catal1.png") no-repeat center;
  width: 347px;
  height: 442px;
  border-radius: 10px;
}
.catalog>div:nth-of-type(2) {
  background: url("../img/catal2.png") no-repeat center;
  width: 347px;
  height: 442px;
  border-radius: 10px;
}
.catalog>div:nth-of-type(3) {
  background: url("../img/catal3.png") no-repeat center;
  width: 347px;
  height: 442px;
  border-radius: 10px;
}
.catalog h2 {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
}
.catalog p {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.discount {
  background: #AE7C78;
  width: 1200px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal; 
}
.discount h2 {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 44px;
  line-height: 59px;
  letter-spacing: 0.02em;
}
.discount p {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 24px;
  line-height: 29px;
  width: 387px;
  height: 145px;
}
.steps {
  color:#AE7C78;
  font-style: normal;
  font-family: "Montserrat", "Arial", sans-serif;
}
.steps h2 {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
}
.steps h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.steps p {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.news{
  color: #AE7C78;
  font-style: normal;
}
.news h2 {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
}
.news p {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}
.reviews {
  color: #AE7C78;
  text-align: center;
  font-style: normal;
}
.reviews h2 {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
}
.reviews p {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.reviews p:nth-of-type(2) {
  font-weight: 500;
}
.contacts {
  color: #AE7C78;
  font-style: normal;
}
.contacts a {
  text-decoration: none;
  color: #AE7C78;
}
.contacts h2 {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}
.contacts p {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.contacts p:nth-of-type(2n) {
  font-weight: 500;
}
.rectangle {
  width: 386px;
  height: 520px;
  background: #F7FAFC;
  box-shadow: 0 4px 40px rgba(217, 217, 217, 0.3);
  border-radius: 12px;
}
footer {
  height: 97px;
  background: #AE7C78;
  color: #FFFFFF;
}
footer li {
  list-style-type: none;
}
footer a {
  text-decoration: none;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
